<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :from_country_id %><br>
    <%= f.number_field :from_country_id %>
  </div>
  <div class="field">
    <%= f.label :to_country_id %><br>
    <%= f.number_field :to_country_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
